<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${fishes} and ${fishes.size()}">No Fish :(</p>

<form method="post">

    <div th:each="fish:${fishes}" class="checkbox">
        <input type="checkbox" name="ids" th:value="${fish.uid}" th:id="${fish.uid}"/>
        <label th:for="${fish.uid}" th:text="${fish.name}"></label>
        <br />
    </div>

    <input type="submit" value="Remove Fish" />
</form>

<div class = "error" th:text="${error}"></div>

</body>
</html>